<p id="notice"><%= notice %></p>

<h1>User File Mappings</h1>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th>User</th>
      <th>File name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_file_mappings.each do |user_file_mapping| %>
      <tr>
        <td><%= user_file_mapping.file_id %></td>
        <td><%= user_file_mapping.user_id %></td>
        <td><%= user_file_mapping.file_name %></td>
        <td><%= link_to 'Show', user_file_mapping %></td>
        <td><%= link_to 'Edit', edit_user_file_mapping_path(user_file_mapping) %></td>
        <td><%= link_to 'Destroy', user_file_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User File Mapping', new_user_file_mapping_path %>
