<%= form_with(model: file_info, local: true) do |form| %>
  <% if file_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(file_info.errors.count, "error") %> prohibited this file_info from being saved:</h2>

      <ul>
      <% file_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path %>
  </div>

  <div class="field">
    <%= form.label :checksum %>
    <%= form.text_field :checksum %>
  </div>

  <div class="field">
    <%= form.label :redundant_count %>
    <%= form.number_field :redundant_count %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.number_field :parent_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
